/* Learn 02 */
/* div{
    background-color: blue;
} */







/* Learn 03 */
/* div{
    background-color: blue;
    color: white;
} */






/* Learn 04 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
} */








/* Learn 05 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;
} */






/* Learn 06 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 20px;
} */










/* Learn 07 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 100px 75px 50px 25px;
} */











/* Learn 08 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 100px 0px;
} */











/* Learn 09 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 50px;
} */












/* Learn 10 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 50px;
    margin: 100px;
} */













/* Learn 11 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 50px;
    margin: 100px 75px 50px 25px;
} */

















/* Learn 12 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 50px;
    margin: 100px 30px;
} */


















/* Learn 13 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    margin:20px;
    border-radius: 20px;
} */











/* Learn 14 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px solid red;
} */

















/* Learn 15 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dotted red;
} */















/* Learn 16 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
} */














/* Learn 16 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    width: 500px;
} */























/* Learn 17 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    width: 15%;
} */





















/* Learn 18 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    width: 250px;
    height: 700px;
} */








/* Go back to HTML for 3 div  */


/* Learn 20 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    height: 700px;

    width: 20%;
} */















/* Learn 21 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    height: 700px;
    width: 20%;

    float: left;
} */
















/* Learn 22 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    height: 700px;
    float: left;
    
    width: 15%;
    margin: 2%;
} */



















/* Learn 23 */
/* div{
    background-color: blue;
    color: white;
    font-size:40px;
    font-weight: bold;

    padding: 25px;
    border-radius: 20px;
    border: 10px dashed red;
    height: 700px;
    width: 15%;
    margin: 2%;

    float: right;
} */